@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5em;
    align-items: center; 

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 


.container { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Titan One', cursive;
    font-weight: 400;
    font-size: 8rem;
    border: 2px solid black;
    /* outline: 5px solid black; */
    min-width: 150px;
    max-width: 150px;
    max-height: 150px;
    min-height: 150px;
    background-color: gray;
    transition: background-color 2s ease-out 0.25;

}

.field:hover {
    background-color: red;
}

.statusText {
    font-size: 4em;
}

.reset {
    width: 5em;
    height: 2.5em;
}